@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Catppuccin Macchiato colors */
  --ctp-base: #24273a;
  --ctp-mantle: #1e2030;
  --ctp-crust: #181926;
  --ctp-text: #cad3f5;
  --ctp-subtext0: #a5adcb;
  --ctp-subtext1: #b8c0e0;
  --ctp-surface0: #363a4f;
  --ctp-surface1: #494d64;
  --ctp-surface2: #5b6078;
  --ctp-overlay0: #6e738d;
  --ctp-overlay1: #8087a2;
  --ctp-overlay2: #939ab7;
}

body {
  margin: 0;
  padding: 0;
  background-color: #24273a;
  color: #cad3f5;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
